* {
  box-sizing: border-box;
}

.footer-menu-respons {
  display: none;
}

body {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 40px;
  line-height: 61px;
  color: #000000;
  font-family: "Arial";
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  font-family: "Arial";
  font-weight: bold;
  text-transform: uppercase;
}

.page-header {
  background-image: url(../img/header-bg.jpg);
  min-height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.container {
  max-width: 820px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  height: 200px;
  align-items: center;
}

.main-menu__list {
  display: flex;
}

.main-menu__list li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-menu__list li+li {
  padding-left: 55px;
}

.main-menu__list a {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.main-menu__list a:hover {
  color: #ffcb78;
}

.main-menu__list a:active {
  color: #ffcb78;
  opacity: 0.3;
}

.header-text {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  color: #fff;
  text-align: center;
  margin-top: 67px;
}

.header-dots {
  display: flex;
  list-style: none;
  position: absolute;
  right: 46%;
  top: 250px;
}

.header-dots button {
  border: 0;
  background: #fff;
  font-size: 0;
  padding: 0;
  opacity: 0.5;
  height: 5px;
  width: 5px;
  outline: 0;
  margin-left: 15px;
  display: block;
}

.header-dots .slick-active button {
  opacity: 1;
}

.news__title {
  font-size: 40px;
  line-height: 61px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  margin: 80px 0 85px;
}

.news-item {
  display: flex;
  margin-bottom: 112px;
}

.news-item-one {
  position: relative;
  max-width: 397px;
  min-height: 776px;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.news-item-one h2 {
  margin-left: 37px;
}

.composition {
  position: absolute;
  width: 150px;
  right: 23px;
  top: 100px;
}

.news-item-one img {
  margin-left: 44px;
  margin-top: 46px;
}

.news-item-one .text {
  margin: 17px 33px 50px;
  color: #444444;
}

.composition-alco-price td {
  border: 1px solid #e5e5e5;
  width: 75px;
  height: 42px;
  line-height: 41px;
  color: #000000;
  font-family: "Arial";
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
}

.ingredients {
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 14px;
}

.buttom-more {
  line-height: 20px;
  color: #834700;
  font-weight: bold;
  padding: 18px 23px;
  border: 2px solid #834700;
  text-transform: uppercase;
}

.buttom-more:hover {
  color: #6a3900;
  border: 2px solid #6a3900;
}

.buttom-more:active {
  opacity: 0.3;
}

.buttom-buy {
  line-height: 20px;
  color: #ffffff;
  font-weight: bold;
  padding: 20px 22px 20px;
  text-transform: uppercase;
  background-color: #834700;
}

.buttom-buy:hover {
  background-color: #6a3900;
}

.buttom-buy:active {
  opacity: 0.3;
}

.news-item-one .buttom-price {
  margin-left: 25px;
}

.buttom-group {
  display: block;
  text-align: center;
}

.container-1 {
  max-width: 1020px;
  height: 410px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container-1 ul {
  display: flex;
  height: 410px;
  align-items: center;
  justify-content: space-between;
}

.features {
  background-color: #ffcb78;
  height: 410px;
}

.features-post {
  width: 210px;
  height: 235px;
  list-style: none;
}

.container-1 li p {
  color: #444;
}

.container-1 li h3 {
  margin: 25px 0 15px;
}

.borders {
  position: relative;
}

.borders::before {
  content: "";
  height: 235px;
  width: 1px;
  background-color: #e5b56b;
  position: absolute;
  left: -95px;
}

.borders::after {
  content: "";
  height: 235px;
  width: 1px;
  background-color: #e5b56b;
  position: absolute;
  top: 0;
  left: 290px;
}

.history h2 {
  margin: 95px 0 80px;
}

.history dt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.history dd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  flex-direction: row-reverse;
}

.history a {
  font-style: italic;
  text-decoration: underline;
  color: #834700;
}

.history a:hover {
  color: #6a3900;
}

.history a:active {
  color: #cab7a2;
}

.history p {
  color: #444444;
  max-width: 480px;
}

.history .margin-block {
  margin-bottom: 86px;
}

.otzivi {
  background-color: #ede5d8;
  padding-top: 80px;
  padding-bottom: 100px;
}

.otzivi h2 {
  margin: 0 0 70px;
}

.otzivi p {
  max-width: 690px;
  color: #404040;
  margin-bottom: 44px;
}

.otzivi p::before {
  content: "\201d";
  position: absolute;
  font-size: 150px;
  left: -80px;
  top: 185px;
  opacity: 0.4;
}

.btn-otzivi {
  opacity: 0.3;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  padding: 17px 22px;
  border: 2px solid #000000;
}

.btn-otzivi:hover {
  background-color: #a5a097;
  color: #fff;
  border-color: #a5a097;
  opacity: 1;
}

.btn-otzivi:active {
  background-color: #8f8a81;
  color: #ffffff;
  opacity: 0.3;
}

.otzivi .container {
  position: relative;
}

.otzivi h3 {
  position: absolute;
  display: inline;
  right: 0;
}

.price h2 {
  margin: 95px 0 90px;
}

.table-price {
  width: 100%;
  margin-bottom: 90px;
  text-transform: uppercase;
}

.table-price td {
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  padding: 25px 0;
}

.table-price th {
  font-size: 11px;
  line-height: 30px;
  font-weight: normal;
  color: #999999;
  padding-bottom: 40px;
  text-align: left;
}

.table-price tr td:nth-child(1) {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.table-price sup {
  font-size: 8px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  padding: 4px 5px 3px 5px;
  border-radius: 2px;
  background-color: #000;
  position: relative;
  right: -25px;
  top: -7px;
}

.table-price tr td:nth-child(5),
.table-price tr th:nth-child(5) {
  text-align: right;
}

.form-feedback {
  background-color: #ffcb78;
  padding-bottom: 105px;
}

.form-feedback h2 {
  margin: 0 0 85px;
  padding-top: 85px;
}

.form-feedback p {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 75px;
}

form label {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.form-form-group input,
#value-item {
  width: 630px;
  height: 50px;
  background-color: #e5b56c;
  border: none;
  font-size: 16px;
  line-height: 20px;
  color: #9f7e4a;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-left: 15px;
}

.form-form-group textarea {
  width: 630px;
  height: 120px;
  background-color: #e5b56c;
  border: none;
  font-size: 16px;
  line-height: 20px;
  color: #9f7e4a;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-left: 15px;
}

.form-form-group input:hover,
.form-form-group textarea:hover,
#value-item:hover {
  background-color: #d9ac66;
}

.form-form-group input:focus,
.form-form-group textarea:focus,
#value-item:focus {
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

#phone,
#phone-2 {
  width: 290px;
}

.phone-wrapper {
  display: flex;
}

.phone-2 {
  margin-left: 50px;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label::before {
  content: " ";
  width: 36px;
  height: 36px;
  background-color: #e5b56c;
  display: inline-block;
  margin-right: 18px;
  cursor: pointer;
  position: relative;
}

.checkbox {
  position: relative;
  width: 630px;
}

.checkbox label {
  cursor: pointer;
}

.checkbox label::after {
  display: none;
  width: 36px;
  height: 36px;
  content: "✔";
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 5px;
}

.checkbox input:checked+label::after {
  display: block;
}

.form-form button {
  width: 200px;
  height: 50px;
  background-color: #834700;
  border: none;
  margin-top: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.form-form button:hover {
  background-color: #6a3900;
}

.form-form button:active {
  opacity: 0.3;
}

footer {
  background-color: #000;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  height: 180px;
  align-items: center;
}

.logo-footer {
  position: relative;
  left: -70px;
}

.footer-social p {
  font-size: 14px;
  line-height: 20px;
  color: #989898;
  margin-left: 90px;
}

.footer-social {
  display: flex;
  vertical-align: middle;
  width: 500px;
  align-items: center;
}

.footer-social img {
  position: relative;
  top: 20px;
  left: 25px;
}

.footer-social a {
  background-color: #1b1b1b;
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-width: 72px;
  min-height: 68px;
}

.footer-scool {
  display: flex;
  align-items: center;
}

.footer-scool p {
  font-size: 14px;
  line-height: 20px;
  color: #989898;
  font-weight: bold;
  display: inline-block;
  margin-left: 30px;
}

.footer-scool img {
  padding: 16px 21px;
  background-color: #1b1b1b;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer .container-1 {
  height: auto;
  padding-bottom: 45px;
}

.footer-social a:hover {
  border: 1px solid #ffcb78;
  opacity: 0.8;
}

.footer-social a:active {
  border: 1px solid #ffcb78;
  opacity: 0.3;
}

.footer-scool img:hover {
  border: 1px solid #ffcb78;
  opacity: 0.8;
}

.footer-scool img:active {
  border: 1px solid #ffcb78;
  opacity: 0.3;
}

.menu-decor {
  display: none;
}

/* RESPONSIVE */

@media (max-width: 1090px) {
  .container-1 ul {
    justify-content: space-evenly;
  }

  .borders::before,
  .borders::after {
    display: none;
  }

  .otzivi h3 {
    right: 20px;
  }
}

@media (max-width: 990px) {
  .logo-footer {
    left: 0;
  }
}

@media (max-width: 850px) {
  .header__top {
    flex-direction: column;
    padding-top: 30px;
  }
}

@media (max-width: 810px) {
  .news .slick-slide div:first-child {
    display: flex;
    justify-content: center;
  }

  .news-item-one {
    border: none;
    min-height: 700px;
  }

  .news-item-one img {
    width: 60%;
  }

  .news-item {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .news-item h2::after {
    content: 'новинка';
    font-size: 8px;
    line-height: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
    padding: 4px 5px 3px 5px;
    border-radius: 2px;
    background-color: #000;
    position: relative;
    left: 10px;
    bottom: 15px;
  }

  .main-menu__list-footer li {
    border: none;
    padding-left: 15px;
  }

  .footer .main-menu__list-footer {
    display: none !important;
  }

  .footer-menu-respons {
    display: flex;
    color: ivory;
    text-transform: uppercase;
    flex-wrap: wrap;
  }

  .footer-menu-respons a {
    margin-left: 15px;
  }

  .footer-social p {
    display: none;
  }
}

@media (max-width: 700px) {
  .features {
    min-height: 800px;
  }

  .container-1 ul {
    flex-direction: column;
    min-height: 800px;
    justify-content: space-evenly;
  }

  .features-post {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .container-1 li h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .history h2 {
    margin: 40px 0 30px;
  }

  .history dt {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .history .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .history dd img {
    width: 200px;
    height: 120px;
    margin-left: 10px;
  }

  .history dd {
    flex-direction: column;
  }

  .history dd img {
    margin-bottom: 15px;
  }

  .history .dd {
    margin-bottom: 50px;
  }

  .otzivi .container {
    padding: 0 25px;
  }

  .otzivi h2 {
    margin: 0 0 30px;
  }

  .otzivi {
    padding-top: 45px;
    padding-bottom: 75px;
  }

  .price h2 {
    margin: 45px 0 35px;
  }

  .price .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-feedback h2 {
    margin: 0 0 20px;
    padding-top: 40px;
  }

  .form-feedback p {
    margin-bottom: 35px;
  }

  .form-form-group input,
  #value-item,
  #message,
  #phone-2,
  #phone {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
  }

}

@media (max-width: 670px) {

}

@media (max-width: 650px) {
  .main-menu__list {
    display: none;
  }

  .main-menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .header-text {
    font-size: 60px;
  }

  .menu-decor {
    display: block;
  }

  .main-menu__btn {
    width: 50px;
    height: 40px;
    margin: 10px auto;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
  }

  .main-menu__btn span {
    width: 100%;
    height: 4px;
    background-color: #ffcb78;
    position: absolute;
    top: 45%;
  }

  .main-menu__btn span::before,
  .main-menu__btn span::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: rgb(255, 203, 120);
    position: absolute;
  }

  .main-menu__btn span::before {
    top: -10px;
  }

  .main-menu__btn span::after {
    bottom: -10px;
  }

  .main-menu__list li {
    background-color: rgba(255, 203, 120, 1);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding-left: 0;
    text-align: center;
  }

  .main-menu__list li+li {
    padding-left: 0;
    text-align: center;
  }

  .main-menu__list li:last-child {
    margin-bottom: 15px;
  }

  .header-slider-jq {
    z-index: 1;
  }

  .main-menu__list li a:hover {
    color: #834700;
  }

}

@media (max-width: 600px) {
  .btn-otzivi {
    font-size: 13px;
    padding: 11px 11px;
  }

  .otzivi p {
    margin-bottom: 25px;
  }

  .otzivi h3 {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .header-text {
    font-size: 50px;
    line-height: 60px;
  }

}

@media (max-width: 490px) {
  .header-text {
    line-height: 50px;
  }

  .otzivi h3 {
    display: none;;
  }

  .table-price sup {
    right: 45px;
    top: 15px;
  }

  .checkbox span{
    position: relative;
    top: 30px;
    left: -55px;
    font-size: 12px;
  }

  .phone-wrapper {
    flex-direction: column;
  }

  .phone-2 {
    margin-left: 0;
  }

  .footer-scool p {
    display: none;
  }
}

@media (max-width: 400px) {
  .news-h2 {
    font-size: 30px;
  }

  .composition-alco-price td {
    font-size: 13px;
    width: 65px;
    height: 35px;
  }
}

@media (max-width: 390px) {
  .header-text {
    font-size: 40px;
    line-height: 40px;
    margin-top: 80px;
  }

  .table-price sup {
    display: none;
  }
}

@media (max-width: 360px) {
  .buttom-more {
    line-height: 20px;
    font-size: 13px;
    padding: 13px 17px;
  }

  .buttom-buy {
    line-height: 20px;
    font-size: 13px;
    padding: 15px 17px;
  }

  .news-item-one .buttom-price {
    margin-left: 10px;
  }
}

@media (max-width: 340px) {
  .composition {
    right: 0;
  }
}




@media (min-width: 650px) {
  .main-menu__list {
    display: flex !important;
  }
}